:root {
  --gray: #1f2937;
  --red: #991b1b;
  --yellow: #92400e;
  --green: #065f46;
  --blue: #1e40af;
  --indigo: #3730a3;
  --purple: #5b21b6;
  --pink: #9d174d;

  --gray-bg: #f3f4f6;
  --red-bg: #fee2e2;
  --yellow-bg: #fef3c7;
  --green-bg: #d1fae5;
  --blue-bg: #dbeafe;
  --indigo-bg: #e0e7ff;
  --purple-bg: #ede9fe;
  --pink-bg: #fce7f3;

  --lightblue: #1e90ff;
  --white: #ffffff;
}

h1.title {
  font-size: 36px;
  line-height: 1;
  color: #000000;
  text-align: center;
}

h3.title {
  font-size: 20px;
  line-height: 0.7;
  color: #5e5d5d;
}

.title {
  font-family: "Permanent Marker", cursive;
}

.square-title {
  grid-area: square-heading;
}

.badges-container > div {
  display: flex;
  margin-left: 10px;
  flex-flow: row wrap;

  gap: 0.8em 1em;
}

.square-container {
  grid-area: square--badges;
}

/*Banners*/
.banner {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 16px;
  border-radius: 6px;
  background-color: #EFF6FF;
  min-width: 200px;
  width: 100%;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.banner-container:not(:last-of-type) {
  margin-bottom: 25px;
}

.banners-title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
}

.multiline-title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}

.banner-children p {
  font-weight: 400;
  color: #1C51B9;
}

.banner>svg {
  min-width: 16px;
  min-height: 16px;
  color: #60A5FA;
}

.titles-container>h3 {
  display: none;
}

.singleline-title {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: center;
}

.banner-title {
  color: #000;
  font-family: Permanent Marker;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px; /* 100% */
  text-align: center;
}

.banner-multiline-title {
  color: #5e5d5d;
  font-family: Permanent Marker;
  font-size: 44.1px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px; /* 142.857% */
}

.banner-success-title {
  color: #5e5d5d;
  text-align: right;
  font-family: Permanent Marker;
  font-size: 44.1px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px; /* 142.857% */
}

.banner-container {
  display: flex;
  width: 896px;
  padding: 16px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 6px;
  background: #ecfdf5;
  color: green;
}

.banner-container-title {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.banner-container-text {
  align-self: stretch;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

/* Banner Variants */

/* Success */
.banner.success {
  background-color: #ECFDF5;
}

.banner.success h5 {
  color: #065F46;
}

.banner.success p {
  color: #047857;
}

.banner.success>svg {
  color: #34D399;
}

/* Warning */
.banner.warning {
  background-color: #FFFBEB;
}

.banner.warning h5 {
  color: #92400E;
}

.banner.warning p {
  color: #B45309;
}

.banner.warning>svg {
  color: #FBBF24;
}

/* Error */
.banner.error {
  background-color: #FEF2F2;
}

.banner.error h5 {
  color: #92400E;
}

.banner.error p {
  color: #B45309;
}

.banner.error>svg {
  color: #F87171;
}


section {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}


.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  background: var(--gray-bg);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--gray);
}

.badge.pill {
  border-radius: 12px;
}

.badge.red {
  background-color: var(--red-bg);
  color: var(--red);
}

.badge.yellow {
  background-color: var(--yellow-bg);
  color: var(--yellow);
}

.badge.green {
  background-color: var(--green-bg);
  color: var(--green);
}

.badge.blue {
  background-color: var(--blue-bg);
  color: var(--blue);
}

.badge.indigo {
  background-color: var(--indigo-bg);
  color: var(--indigo);
}

.badge.pink {
  background-color: var(--pink-bg);
  color: var(--pink);
}

.square-title,
.pill-title {
  align-self: center;
  justify-self: flex-end;
}

.pill-title {
  grid-area: pill-heading;
}

.pill-container {
  grid-area: pill--badges;
}

.badge.pill {
  border-radius: 12px;
}
